html{
    
}


body{
    background: linear-gradient(white, gray) no-repeat center center;
    background-size: cover;
}

.navbar{
    
}

.navbar ul{
    
}

.navbar li{
    
}

.navbar li:hover{

}

.jumbotron{
    margin-top: 100px;
}