body{
    background: linear-gradient(white, dodgerblue) no-repeat center center;
    background-size: cover;
}

.jumbotron{
    background: inherit;
}

.jumbotron h1{
    font-family: Helvetica;
}

.bordered-columns{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: blue;
}

.bordered-columns h2{
    color: white;
}

.bordered-columns:hover{
    background-color: deepskyblue;
}

.bordered-columns:hover a{
    text-decoration: none;
}

.bordered-columns:hover h2{
    color: black;
}

.profile-pic{
    border-radius: 20px;
    margin-bottom: 20px;
}