body{
    background: linear-gradient(darkslategray, black) no-repeat center center;
    background-size: cover;
    color: white;
}

.nav li a{
    color: white;
}

.nav-tabs li.active a{
    background: dodgerblue;
    color: white;
}

.nav li a:hover{
    color: white;
    background: dodgerblue;
}

.jumbotron{
    background: inherit;
    color: white;
}

.jumbotron h1{
    font-family: Helvetica;
}

.bordered-columns{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: blue;
}

.bordered-columns h2{
    color: white;
}

.bordered-columns:hover{
    background-color: gray;
}

.bordered-columns:hover a{
    text-decoration: none;
}

.bordered-columns:hover h2{
    color: black;
}

.profile-pic{
    border-radius: 20px;
    margin-bottom: 20px;
}

.col-left{
    float: left;
}

.col-right{
    float: right;
}